<h1>
  {{title}}
</h1>
<article>
  <div>
    <div id="local-beer-shops-block">
      <button> <a [routerLink]="['/local/beer/shops']" >Find Local Beer Shops</a></button>
    </div>
    <div id="order-beer-block">
      <button> <a [routerLink]="['/order/beer']" >Order Beer</a></button>
    </div>
  </div>
  <div id="customize-beer-block">
    <button> <a [routerLink]="['/customize/beer']" >Let's Customize your beer </a></button>
  </div>
</article>

<footer>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</footer>
